{% extends 'admin_navigation.html' %}
{% load static %}
{% block body %}
<marquee
        style="font-family : monotype corsiva; font-size:25px;color:darkcyan;background-color:black;font-weight:bold;margin-top:1%">
    View Recruiter - Pending
</marquee>
<hr>
<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>Reruiter Name</b></label>
    <input type="text" class="form-control" name="uname" value="{{recruiter.user.first_name}} {{recruiter.user.last_name}}">
    <label><b>Status</b></label>
   <select class="form-control" name="status">
       <option value="Accept">Accept</option>
       <option value="Reject">Reject</option>
   </select>
    <input type="submit" class="btn btn-primary">
</form>
{% ifequal error "no" %}
<script>
    alert(" status change successfully");
    window.location=('{% url 'recruiter_all'%}')
</script>
{% endifequal %}

{% ifequal error "yse" %}
<script>
    alert("something went wrong,try again");
</script>
{% endifequal%}


{% endblock %}