{% extends 'admin_navigation.html' %}
{% load static %}
{% block body %}
<marquee
        style="font-family : monotype corsiva; font-size:25px;color:darkcyan;background-color:black;font-weight:bold;margin-top:1%">
    View  all Users
</marquee>

<div class="container">
<table class="table table-hover" id="example">
    <thead>
    <tr style="background-color:yellow">
        <th>Sr.No</th>
        <th>Full Name</th>
        <th>Email Id</th>
        <th>contact No</th>
        <th>Gender</th>
        <th>image</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
    <tr style="background-color:#DEB887">
        <td>{{forloop.counter}}</td>
        <td>{{i.user.first_name}} {{i.user.last_name}}</td>
        <td>{{i.user.username}}</td>
        <td>{{i.mobile}}</td>
        <td>{{i.gender}}</td>
        <td><img src="{{i.image.url}}" style="width:100px;height:100px;border-radius:50%"></td>
        <td><a href="{% url 'delete_user' i.user.id %}" class=" btn btn-danger btn-sm" onclick="return confirm('are you sure to delete ?')">Delete</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}